/*Обнуление*/
/*Очищаем все отступы и границы для всех тегов на странице */
* {
    padding: 0;
    margin: 0;
    border: 0;
}

/* Меняем подсчет ширины блока для удобства верстки.*/
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Убираем линии обводки у некоторых браузеров*/
:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

/* Делаем теги блочными */
nav, footer, header, aside {
    display: block;
}

/* Уравняем поведение шрифтов и элементов, для разных браузеров */
html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

/* Наследуем семейство шрифта */
input, button, textarea {
    font-family: inherit;
}

/* Убираем особенность этих тегов у разных браузеров */
input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

/* Обнуляем заголовки */
h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/

body {
    background-color: #e8e8e8;
}

.content {
    max-width: 842px;
    margin: 0 auto;
    padding-top: 152px;
}

.content li {
    background: url('/img/icons/check.png') left no-repeat;
    margin-bottom: 15px;
    padding-left: 30px;
    font-size: 20px;
    font-family: "Arial", serif;
    color: #273d46;
}

.list_one li:nth-child(1) {
    text-decoration: line-through;
}

.list_one li:nth-child(2) {
    font-weight: bold;
}

.list_one li:nth-child(3) {
    font-style: italic;
}

.list_one li:nth-child(4) {
    text-transform: uppercase;
    margin-bottom: 100px;
}

.list_one li:nth-child(1):hover {
    text-decoration: none;
}

.list_one li:nth-child(2):hover {
    color: #d55a5a;
    background: url('/img/icons/red_check.png') left no-repeat;
}

.list_one li:nth-child(3):hover {
    font-style: normal;
}

.list_one li:nth-child(4):hover {
    text-transform: none;
}

.link {
    display: inline-block;
    height: 44px;
    background-color: #80b7b3;
    line-height: 44px;
    padding: 0 30px;
    border-radius: 24px;
    box-shadow: 0 6px 40px rgba(128, 183, 179, 0.54);
    font-size: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 80px;
}

.link span {
    background: url('/img/icons/arrow.svg') right no-repeat;
    padding-right: 30px;
}

.link:hover {
    background-color: #3a5855;
}


.link:active {
    background-color: #818181;
}

.text_input {
    border: 1px solid #b0b0b0;
    height: 50px;
    width: 290px;
}

.text_input:focus {
    box-shadow: 0 0 10px rgba(127, 190, 213, 0.93);
    border: 1px solid #7fbed5;
}

